* {
  font-size: 17px;
}

body {
  background-color: rgb(240, 242, 245);
}

.App {
  min-width: 30rem;
  max-width: 60rem;
  display: flex;
  flex-direction: column;

  margin: auto;


  font-family: 'Futura', sans-serif;
}


/* Navbar & Body */

.navbar,
.body {
  padding: 20px;
  background-color: white;
}